body {
  margin: 0;
  background-image: url("bluebackground.jpg");
  background-size: cover;
  font-family: American Typewriter;
  background-position: center center;
}

.topnav {
  overflow: hidden;
  background-color: #FFC0CB;
}

.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: ##B0E0E6;
  color: black;
}

.topnav a.active {
  background-color: #B0E0E6;
  color: Black;
}
