body {
  background-image: url("bluebackground.jpg");
  background-size: cover;
  font-family: optima
  background-position: center center;
}

.topnav {
  overflow: hidden;
  background-color: #FFC0CB;
  font-family: optima;
}

.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: ##B0E0E6;
  color: black;
}

.topnav a.active {
  background-color: #B0E0E6;
  color: Black;
}

h1 {
  color: #FFC0CB;
  margin-top: 30px;
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
  font-family: optima
}

h2{
  padding-top: 90px;
  margin-top: 90px;
  color: #FFC0CB;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px #000000;
  font-weight: bold;
  font-family: optima
}

h3{
  color: #ADD8E6;
  text-align: left
  font-weight: bold;
  font-size: 40px;
  text-shadow: 2px 2px #000000;
  font-weight: bold;
  font-family: optima
}


.introduction {
  float: left;
  font-size: 36px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  font-family: optima

}


.qualities {
  font-size: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  font-family: optima
}

.empathetic {
  padding-top: 30px;
  padding-right: 400px;
  padding-bottom: 50px;
  padding-left: 60px;
}

.collaborative{
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 400px;
}

.detail-oriented{
  padding-top: 30px;
  padding-right: 400px;
  padding-bottom: 50px;
  padding-left: 60px;
  
}

.bottomhalf {
  padding-top: 100px;
  margin-top: 100px;
  background:#FFF0F5;
}

.introduction {
  background-image: url("bluebackground.jpg")

}




