h1 {
	font-family: "optima";
  text-shadow: 2px 2px #000000;
	color: #FFC0CB;
	font-size:60px;
	text-align: center
}

body {
  margin-top: 30px;
 	background-image: url("../Images/bluebackground.jpg");
	background-size: cover;
}

h1{
  background-position: center center;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
}

h2{
  font-family: "optima";
  color: black;
  font-size:90px;
  text-align: center
}


.column {
  float: left;
  width: 25%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
  margin-left: auto;
  margin-right: auto;

}

.container{
  text-align: center;
  margin-top: 100px;
}

.btn{
  border: 4px solid #FFC0CB;
  background: none;
  padding: 20px 20px;
  font-size: 40px;
  font-family: "optima";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}


.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #FFC0CB;
  z-index: -1;
  transition: 0.8s;

}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn2::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
  
}
.btn1:hover::before,.btn2:hover::before,.btn3:hover::before{
  height: 180%;
}
